{% extends 'public/reg-log-forget.html' %}
{% load static %}
{% block head_css %}
    <style>
        .shop-list-mid .tit a {
            color: #909090;
            font-size: 1.4rem;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            overflow: hidden;
            white-space: normal;
            text-overflow: ellipsis;
        }

        {#判断固定排序规则时的背景图片#}
        .list-price {
            background: url({% if order == 2 %}
                {% static 'images/order-top.png' %}
            {% elif order == 3 %}
                {% static 'images/order-bot.png' %}
            {% endif %}
            ) no-repeat right center;
            padding-right: 20px;
            font-style: normal;
        }


    </style>
{% endblock %}
{% block header %}
    <header data-am-widget="header" class="am-header am-header-default sq-head ">
        <div class="am-header-left am-header-nav">
            <a href="javascript:history.back()" class="">
                <i class="am-icon-chevron-left"></i>
            </a>
        </div>
        <div class="cate-search">
            <form action="/search/" method="get">
                <input type="text" name="q" value="" class="cate-input" placeholder="请输入您要的搜索的产品关键词"/>
                <input type="submit" class="cate-btn" value=""/>
            </form>
        </div>
    </header>
{% endblock %}
{% block content %}
    <ul class="list-nav">
        <li {% if order == 0 %} class="current"{% endif %}><a href="{% url 'goods:cate' cate_id 0 %}">综合</a></li>
        <li{% if order == 1 %} class="current"{% endif %}><a href="{% url 'goods:cate' cate_id 1 %}">销量</a></li>
        <li {% if order == 2 %} class="current" {% elif order == 3 %} class="current"{% endif %}><a
                href="{% url 'goods:cate' cate_id 2 %}"><i
                class="list-price">价格</i></a></li>
        <li {% if order == 4 %} class="current"{% endif %}><a href="{% url 'goods:cate' cate_id 4 %}">新品</a></li>
    </ul>
    <div class="content-list">
        <div class="list-left">
            {% for cate in cates %}
                <li {% if cate_id == cate.pk %}
                    class="current"
                {% endif %}><a href="{% url 'goods:cate' cate.pk order %}">{{ cate.name }}</a></li>
            {% endfor %}
        </div>

        <div class="list-right">
            <ul class="list-pro">
                {% for g in goods %}
                    <li>
                        <a href="{% url 'goods:detail' g.pk %}"><img src=" {{ MEDIA_URL }}{{ g.url }}"
                                                                     class="list-pic"/></a>
                        <div class="shop-list-mid" style="width: 65%;">
                            <div class="tit"><a
                                    href="{% url 'goods:detail' g.pk %}">{{ g.spu.name }}&emsp;{{ g.name }}</a></div>
                            <div class="am-gallery-desc">￥{{ g.price }}</div>
                            <p>销量：{{ g.sales }}{{ g.unit }}</p>
                        </div>
                        <div class="list-cart">
                            <div class="d-stock ">
                                <a class="decrease">-</a>
                                <input id="num" readonly="" sku_id="{{ g.pk }}" class="text_box" name="" type="text"
                                       value="0">
                                <a class="increase">+</a>
                            </div>
                        </div>
                        <!--<a href="" class="list-cart"><img src="images/cart.png" width="30"/></a>-->
                    </li>
                {% empty %}
                    <li class="am-gallery-desc">小超正在上新中,敬请期待</li>
                {% endfor %}
                {% if goods.has_previous %}
                    <a href="?p={{ goods.previous_page_number }}" class="am-btn">上一页</a>
                {% elif goods.has_next %}
                    <a href="?p={{ goods.next_page_number }}" class="am-btn">下一页</a>
                {% endif %}
            </ul>
        </div>
    </div>


    <!--底部-->
    <div style="height: 55px;"></div>
    <div class="fix-bot">
        <a href="{% url 'cart:index' %}">
            <div class="fix-bot-cart">
                <i id="cart_count">{{ count }}</i>
            </div>
        </a>
        <a href="tureorder.html" class="list-js">去结算</a>
        <a href="tureorder.html" class="list-jsk">一键快购</a>
        <!--<div class="js-text">
           <p><b>￥217.80</b></p>
           <p class="js-car">购物满50元免运费</p>
     </div>-->

    </div>
{% endblock %}
{% block footer_js %}
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/amazeui.min.js' %}"></script>
    <script>
        //参数order转变
        $(function () {
            if ("{{ order }}" == 2) {
                $(".list-price").parent("a").attr("href", "{% url 'goods:cate' cate_id 3 %}")
            }
            else if ("{{ order }}" == 3) {
                $(".list-price").parent("a").attr("href", "{% url 'goods:cate' cate_id 2 %}")
            }
        });

        //购物数量加减
        $(function () {
            $('.increase').click(function () {
                var self = $(this);
                var cart_count = parseInt(self.siblings('input').val());
                cart_count += 1;
                var count = 1;
                var sku_id = self.siblings('input').attr("sku_id");
                //console.debug(sku_id, count)
                $.ajax({
                    "type": "POST",
                    "url": "{% url 'cart:addCart' %}",
                    "data": {
                        "sku_id": sku_id,
                        "count": count,
                        "csrfmiddlewaretoken": "{{ csrf_token }}",
                    },
                    "dataType": "json",
                    "success": function (data) {
                        // console.debug(data);
                        if (data.code == 0) {
                            if (cart_count > 0) {
                                self.siblings(".decrease").fadeIn();
                                self.siblings(".text_box").fadeIn();
                            }
                            self.siblings('input').val(cart_count);
                            //更新购物车中的数量
                            $("#cart_count").text(data.cart_count);

                        } else if (data.code == 1) {
                            {#没有登陆#}
                            var flag = confirm("没有登陆，是否跳转到登陆页面？")
                            if (flag) {
                                location.href = "{% url 'user:login' %}?next={% url 'goods:cate' cate_id 0 %}"
                            }
                        }
                    }
                })


            });
            $('.decrease').click(function () {
                var self = $(this);
                var cart_count = parseInt(self.siblings('input').val());
                if (cart_count > 0) {
                    var count = -1;
                    var sku_id = self.siblings('input').attr("sku_id");
                    //console.debug(sku_id, count)
                    $.ajax({
                        "type": "POST",
                        "url": "{% url 'cart:addCart' %}",
                        "data": {
                            "sku_id": sku_id,
                            "count": count,
                            "csrfmiddlewaretoken": "{{ csrf_token }}",
                        },
                        "dataType": "json",
                        "success": function (data) {
                            // console.debug(data);
                            if (data.code == 0) {
                                cart_count -= 1;
                                if (cart_count < 1) {
                                    self.fadeOut();
                                    self.siblings(".text_box").fadeOut();
                                }
                                self.siblings('input').val(cart_count);
                                if (cart_count > 0) {
                                    self.siblings(".decrease").fadeIn();
                                    self.siblings(".text_box").fadeIn();
                                }
                                self.siblings('input').val(cart_count);
                                //更新购物车中的数量
                                $("#cart_count").text(data.cart_count);

                            } else if (data.code == 1) {
                                {#没有登陆#}
                                var flag = confirm("没有登陆，是否跳转到登陆页面？")
                                if (flag) {
                                    location.href = "{% url 'user:login' %}?next={% url 'goods:cate' cate_id 0 %}"
                                }
                            }
                        }
                    })


                }
            });

        })

    </script>
{% endblock %}




