{% extends 'public/reg-log-forget.html' %}
{% load static %}
{% block head_js %}
    <script src="{% static 'js/time.js' %}"></script>
    <script src="{% static 'js/popup.mini.js' %}"></script>
{% endblock %}
{% block header %}
    <header data-am-widget="header" class="am-header am-header-default sq-head1">
        <div class="am-header-left am-header-nav">
            <a href="{% url 'goods:city' %}" class="" style="color: #fff;">
                <img src="{% static 'images/city.png' %}"/>
                <p style="font-size: 12px; margin-top: -35px;">成都</p>
            </a>
        </div>
        <h1 class="am-header-title1">
            <div class="search-box">
                <a href="{% url 'goods:village' %}" class="index-search">成都天府新谷</a>
                <!--  <input type="submit" value="" class="search-icon" /> -->
            </div>
        </h1>
        <div class="am-header-right am-header-nav">
            <a href="{% url 'goods:tiding' %}" class="">
                <div class="messgae"><span>10</span></div>
            </a>
        </div>
    </header>
{% endblock %}
{% block content %}
    <div class="am-slider am-slider-default" data-am-flexslider id="demo-slider-0">
        <ul class="am-slides">
            {% for lun in lunbo %}
                <li><a href="{% url 'goods:detail' lun.shop_sku.pk %}"><img src="{{ MEDIA_URL }}{{ lun.picture }}"/></a>
                </li>
            {% endfor %}
        </ul>
    </div>

    <!--导航-->
    <ul class="sq-nav">
        <li>
            <div class="am-gallery-item">
                <a href="recharge.html" class="">
                    <img src="{% static 'images/icon.png' %}"/>
                    <p>充值</p>
                </a>
            </div>
        </li>
        <li>
            <div class="am-gallery-item">
                <a href="javascript:;" class="index-qd">
                    <img src="{% static 'images/icon1.png' %}"/>
                    <p>签到</p>
                </a>
            </div>
        </li>
        <li>
            <div class="am-gallery-item">
                <a href="yhq.html" class="">
                    <img src="{% static 'images/icon2.png' %}"/>
                    <p>红包</p>
                </a>
            </div>
        </li>
        <li>
            <div class="am-gallery-item">
                <a href="" class="">
                    <img src="{% static 'images/icon3.png' %}"/>
                    <p>即将上线</p>
                </a>
            </div>
        </li>
    </ul>
    <ul class="sq-nav1">
        <li>
            <div class="am-gallery-item">
                <a href="speed.html" class="">
                    <img src="{% static 'images/icon4.png' %}"/>
                    <p>零食飞速</p>
                </a>
            </div>
        </li>
        <li>
            <div class="am-gallery-item">
                <a href="{% url 'goods:cate' 1 0 %}" class="">
                    <img src="{% static 'images/icon5.png' %}"/>
                    <p>超市</p>
                </a>
            </div>
        </li>

    </ul>
    <div class="h-line"></div>
    <!--不规则展示-->
    <div class="index-product">
        <div class="index-pro-lf"><a href="{{ activity.0.url }}"><img
                src="{{ MEDIA_URL }}{{ activity.0.picture }}"/></a></div>
        <div class="index-pro-lr"><a href="{{ activity.2.url }}"><img
                src="{{ MEDIA_URL }}{{ activity.2.picture }}"/></a></div>
    </div>
    <div class="product-bot">
        <div class="product-bot-lf"><a href="{{ activity.3.url }}"><img src="{{ MEDIA_URL }}{{ activity.3.picture }}"/></a>
        </div>
        <div class="product-bot-lr">
            <div class="top"><a href="{{ activity.1.url }}"><img src="{{ MEDIA_URL }}{{ activity.1.picture }}"/></a>
            </div>
            <div class="bot">
                <div class="bot-lf"><a href="{{ activity.4.url }}"><img src="{{ MEDIA_URL }}{{ activity.4.picture }}"/></a>
                </div>
                <div class="bot-lr"><a href="{{ activity.5.url }}"><img src="{{ MEDIA_URL }}{{ activity.5.picture }}"/></a>
                </div>
            </div>
        </div>
    </div>
    <!--不规则展示-->
    <div class="h-line"></div>
    <!-- 活动专区-->
    {% for zones in activity_zone %}
        <div class="sq-title">
            <img src="{% static 'images/ts.png' %}" width="26"/>
            {{ zones.name }}
        </div>

        <ul data-am-widget="gallery" class="am-gallery pro-list am-avg-sm-2 am-avg-md-2 am-avg-lg-4 am-gallery-default">
            {% for goods in zones.activitygoods_set.all %}
                <li>
                    <div class="am-gallery-item">
                        <a href="{% url 'goods:detail' goods.shop_sku.pk %}" class="">
                            <a href="{% url 'goods:detail' goods.shop_sku.pk %}"><img
                                    src="{{ MEDIA_URL }}{{ goods.shop_sku.url }}"/></a>
                            <h3 class="am-gallery-title">
                                {{ goods.shop_sku.spu.name }}&emsp;{{ goods.shop_sku.name }}</h3>
                            <div class="am-gallery-desc">￥{{ goods.shop_sku.price }}</div>
                        </a>
                    </div>
                </li>
            {% endfor %}


        </ul>
    {% endfor %}




    <!--签到-->
    <div class="qd-box">
        <div class="popup-title">
            <span>签到成功</span>
            <div class="popup-close"><i class="iconfont">&#xe602</i></div>
        </div>
        <div class="dq-text">
            <img src="{% static 'images/qiandao.png' %}" width="40"/>&nbsp; 您已连续签到3天
        </div>
    </div>
    {% include 'public/footer.html' %}
{% endblock %}
{% block footer_js %}
    <script type='text/javascript'>
        (function () {
            new PopUp_api({el: '.index-qd', html: '.qd-box'});
        })()
    </script>

    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/amazeui.min.js' %}"></script>
{% endblock %}

