{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>超市</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="renderer" content="webkit">
{#    <meta http-equiv="Cache-Control" content="no-siteapp"/>#}
{#    <link rel="icon" type="image/png" href="/theme/default/images/favicon.png">#}
    <link href="{% static 'css/amazeui.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css"/>
    <script src="{% static 'js/jquery-1.10.2.min.js' %}"></script>
    {% block head_css %}

    {% endblock %}
    {% block head_js %}

    {% endblock %}
</head>
<body>
{% block header %}
    <header data-am-widget="header" class="am-header am-header-default sq-head ">
        <div class="am-header-left am-header-nav">
            <a href="javascript:history.back()" class="">
                <i class="am-icon-chevron-left"></i>
            </a>
        </div>
        <h1 class="am-header-title">
            <a href="" class="">
                {% block title %}

                {% endblock %}
            </a>
        </h1>
    </header>
{% endblock %}

<div style="height: 49px;"></div>
{% block content %}

{% endblock %}
{% block footer %}

{% endblock %}
{% block footer_js %}

{% endblock %}
</body>
</html>
