{% extends "public/reg-log-forget.html" %}
{% load static %}
{% block head_css %}
    <style type="text/css">
        ._citys {
            width: 100%;
            height: 100%;
            display: inline-block;
            position: relative;
            background-color: white
        }

        ._citys span {
            color: #56b4f8;
            height: 15px;
            width: 15px;
            line-height: 15px;
            text-align: center;
            border-radius: 3px;
            position: absolute;
            right: 1em;
            top: 10px;
            border: 1px solid #56b4f8;
            cursor: pointer;
        }

        ._citys0 {
            width: 100%;
            height: 34px;
            display: inline-block;
            border-bottom: 2px solid #56b4f8;
            padding: 0;
            margin: 0;
        }

        ._citys0 li {
            float: left;
            height: 34px;
            line-height: 34px;
            overflow: hidden;
            font-size: 15px;
            color: #888;
            width: 80px;
            text-align: center;
            cursor: pointer;
        }

        .citySel {
            background-color: #56b4f8;
            color: #fff !important;
        }

        ._citys1 {
            width: 100%;
            height: 80%;
            display: inline-block;
            padding: 10px 0;
            overflow: auto;
        }

        ._citys1 a {
            height: 35px;
            display: block;
            color: #666;
            padding-left: 6px;
            margin-top: 3px;
            line-height: 35px;
            cursor: pointer;
            font-size: 13px;
            overflow: hidden;
        }

        ._citys1 a:hover {
            color: #fff;
            background-color: #56b4f8;
        }

        .ui-content {
            border: 1px solid #EDEDED;
        }

        li {
            list-style-type: none;
        }
    </style>
{% endblock %}
{% block head_js %}
    <script src="{% static 'area/js/jquery.min.js' %}"></script>
    <script src="{% static 'area/js/common.js' %}"></script>
    <script src="{% static 'area/js/Popt.js' %}"></script>
    <script src="{% static 'area/js/cityJson.js' %}"></script>
    <script src="{% static 'area/js/citySet.js' %}"></script>

{% endblock %}
{% block title %}
    编辑收货地址
{% endblock %}
{% block content %}
    {#    <div style="height: 60px;"></div>#}
    <form action="" method="post">
        {% csrf_token %}
        <input type="hidden" name="id" value="{{ address.id }}">
        <ul class="address">
            <li>
                <span id="city" style="padding-left:5px; width: 20rem">{{ address.hcity }}{{ address.hproper }}{{ address.harea }}</span>
                <input type="hidden" name="harea" id="harea" value="{{ address.harea }}">
                <input type="hidden" name="hproper" id="hproper" value="{{ address.hproper }}">
                <input type="hidden" name="hcity" id="hcity" value="{{ address.hcity }}">
            </li>
             <p class="am-text-danger">{{ form.errors.harea.0 }}</p>
            <li><input type="text" name="detail" class="add-input" value="{{ address.detail }}" placeholder="详细地址"/></li>
            <p class="am-text-danger">{{ form.errors.detail.0 }}</p>
            <li><input type="text" name="username" class="add-input" value="{{ address.username }}" placeholder="收货人姓名"/></li>
            <p class="am-text-danger">{{ form.errors.username.0}}</p>
            <li><input type="text" name="phone" class="add-input" value="{{ address.phone }}" placeholder="收货人手机号码"/></li>
            <p class="am-text-danger">{{ form.errors.phone.0 }}</p>
        </ul>
        <div class="moren">
            <label class="am-checkbox am-warning">
                <input type="checkbox" name="isDefault" {% if address.isDefault %}checked="checked"{% endif %} data-am-ucheck >设为默认
            </label>

        </div>
        <input type="submit" class="login-btn" value="确认提交">
    </form>
{% endblock %}
{% block footer_js %}
    <script type="text/javascript">
        $("#city").click(function (e) {
            SelCity(this, e);
            console.log(this);
        });
    </script>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/amazeui.min.js' %}"></script>
{% endblock %}
